block vars

doctype html
html(lang="ja" itemscope itemtype="https://schema.org/WebPage" class="no-js")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
    meta(name="format-detection" content="telephone=no")
    script(type="module")
      | document.documentElement.classList.remove('no-js');
      | document.documentElement.classList.add('js');
    title #{title}
    meta(name="description" content=description)
    link(href="/common/js/bundle.min.js" rel="prefetch")
    link(href="/common/js/bundle.min.js" rel="preload" as="script" crossorigin)
    link(href="https://www.shinwart.co.jp/assets/img/top/mainvisual.png" rel="preload" as="image"  crossorigin="use-credentials")
    link(href="https://www.shinwart.co.jp/assets/img/top/mainvisual.png" rel="prefetch" as="image"  crossorigin="use-credentials")
    //- ↓ Adobe Web Font
    script.
      (function(d) {
        var config = {
          kitId: 'vpn5vvy',
          scriptTimeout: 3000,
          async: true
        },
        h = d.documentElement,
        t = setTimeout(function() {
          h.className = h.className.replace(/\bwf-loading\b/g, '') + ' wf-inactive';
        }, config.scriptTimeout),
        tk = d.createElement('script'),
        f = false,
        s = d.getElementsByTagName('script')[0],
        a;
        h.className += ' wf-loading';
        tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function() {
          a = this.readyState;
          if (f || a && a != 'complete' && a != 'loaded') return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config)
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s)
      })(document);
    //- ↑ Adobe Web Font
    style
      | [v-cloak] { display: none; }

  body(role="document")
    #app(v-cloak)
      screen
        template(#screen-header)
          screen-header(src="/api/v1/global-navigation")

        main
          block main

        template(#screen-footer)
          screen-footer(src="/api/v1/footer-navigation")

      global-navigation-underlay
      global-navigation(src="/api/v1/global-navigation")
      site-search-underlay
      site-search(action="https://www.shinwart.co.jp/qssearch.jsp" name="search" method="get")
    script(src="/common/js/bundle.min.js" type="module" crossorigin)
