@use "sass:math";

:root {
  --base-error-color: #fff1f1;
  --sub-color: #f1f9ff;
  --base-color: #2a99fb;
  --grey: #e0e0e0;
  --txt-error-color: #e20a16;
  --txt-sub-color: #424242;
  --txt-color: #212121;

  @media (min-width: 641px) {
    font-size: .625rem; // 10px相当
  }

  @media (max-width: 640px) and (min-width: 321px) {
    font-size: calc(.625rem + ((1vw - 3.21px) * 3.1348)); // 640px幅 20px → 321px幅 10px 相当
  }

  @media (max-width: 320px) {
    font-size: .625rem; // 10px相当
  }
}

:where(body) {
  scrollbar-gutter: stable;
  color: var(--txt-color);
  line-height: 1.714;
  width: max(100%, 320px);
  font-size: 1.6rem;
  font-family: "ryo-gothic-plusn", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: auto;
    /* 何かにフォーカスがある場合のみスムーズスクロール */
  }
}

html {
  font-display: swap;
  font-feature-settings: "palt";
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

i {
  font-style: normal;
}

img {
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-drag: none;
  aspect-ratio: attr(width) / attr(height);
}

input {
  &[type="text"] {
    /* WebKit, Blink, Edge */
    &::-webkit-input-placeholder {
      color: #bdbdbd;
    }

    /* Internet Explorer 10-11 */
    &:-ms-input-placeholder {
      color: #bdbdbd;
    }

    /* Others */
    &::placeholder{
      color: #bdbdbd;
    }
  }
}

button {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  color: currentColor;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

mark {
  background-color: transparent;
  color: currentColor;
}

a {
  &:link {
    &[href^="tel"] {
      @media screen and (hover: hover) {
        color: currentColor;
        text-decoration: none;
        pointer-events: none;
      }

      @media screen and (hover: none) and (pointer: coarse) {
        pointer-events: auto;
      }
    }
  }

  @media screen and (hover: none) and (pointer: coarse) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
